@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container2 {
  margin: 0px 0px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #EAF2F8;
  height:fit-content;
}

.heading {
  font-size: 65px;
  color: #2E86C1;
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
  position: relative;
  display: inline-block;
}
.profile-info {
  display: none;
  position: absolute;
  bottom: -175px;
  left: 0;
  right: 0;
  background-color: rgba(234, 242, 248, 0.8);
  padding: 20px;
  text-align: center;
}

.profile:hover .profile-info {
  display: block;
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 30px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: rgba(94, 92, 92, 0.95);
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}
